/*--------------------------------------
              Google fonts 
 ---------------------------------------*/
.font-light{
  font-family: 'Open Sans', sans-serif; 
  font-weight: 300;
}

.font-standard{
  font-family: 'Open Sans', sans-serif;
}

.font-bold{
  font-family: 'Open Sans', sans-serif; 
  font-weight: 600;
}

.font-extra-bold{
  font-family: 'Open Sans', sans-serif; 
  font-weight: 700;
}

/* ---------------------------------------------
                    Carousel
   -------------------------------------------- */

/* Background Carousel Image */
.hero-image {
  /* Set a specific height */
  height: 100%;

  /* Scale Image for all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Carousel Text Placement */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.carousel-item{
  height: 91vh;
}

.hero-text{
  display: flex;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.493);
}

/* -----------------------------------------
                Media Queries
   --------------------------------------- */

/* Large Screen Navbar */
@media only screen and (min-width: 990px) {
  .nav-center{
    display: flex;
    justify-content: center;
  }
  .nav-row{
    height: 9vh;
  }
  .nav-small{
    display: none;
  }
  .hero-text{
    width: 40%;
  }
}

/* Small Screen Navbar */
@media only screen and (max-width: 989px){
  .nav-large{
    display:none;
  }
  .post-f-t{
    height: 9vh;
  }
  .hero-text{
    width: 60%;
  }
  .carousel-item{
    height: 93vh;
}
}

/* ----------------------------------------------------------
              Media Query for alternating 
                    marquee images
------------------------------------------------------------*/
/* Small Screens */
@media only screen and (max-width: 999px){
  .alternating-row-one{
    display: flex;
    flex-direction: column;
  }
  .alternating-row-two{
    display:flex;
    flex-direction: column-reverse;
  }
  .marquee-container{
    margin: 10px;
  }
  .text-marquee{
    display: flex;
    justify-content: center;
    width: 568px;
  }
  .line{
    max-width: 568px;
  }
  .marquee-txt-left{
    padding-top: 10px;
  }
  .marquee-txt-right{
    padding-top: 10px;
  }
}

@media only screen and (max-width: 999px ){
  .alternating-row-one{
    padding-top:20px;
  }
}

@media only screen and (max-width: 600px ){
  .alternating-row-one{
    padding-top:5px;
  }
}

/* Large Screens */
@media only screen and (min-width: 1000px){
  .marquee-container{
    padding: 50px;
  }
.marquee-txt-right{
  padding-left: 10px;
  padding-top: 0px;
}
  .img-marquee{
  max-width: 100%; 
  min-width: 500px;
  }
}

/* XL Screens */
@media only screen and (min-width: 1500px){
  .marquee-container{
    padding: 150px;
  }
}

/* XXL Screens */
@media only screen and (min-width: 1800px){
  .marquee-container{
    padding: 150px 400px 150px 400px;
  }
}

/* -----------------------------------------
                    Footer
-------------------------------------------*/
.footer-bg{
  background-color: black;
  margin: 0px;
  padding: 5px;
  color: rgb(132, 155, 155);
}

.copy-right{
  font-size:.8rem;
}

/* -----------------------------------------
                Hover FX
-------------------------------------------*/

.hover-container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.472);
}

.hover-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}